@keyframes spin-reverse {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-spin-reverse {
    animation: spin-reverse 1.5s linear infinite;
  }

  .animate-spin-slow {
    animation: spin-slow 3s linear infinite;
  }